PUBLIC_FORMSPREE_ID=your_formspree_id
PUBLIC_PHONE=5510000000
PUBLIC_PHONE_DISPLAY=55 1000 0000
PUBLIC_EMAIL=contacto@tuempresa.com
PUBLIC_WHATSAPP=52551000000
PUBLIC_SITE_URL=https://tudominio.com
PUBLIC_MAPS_EMBED_URL=https://www.google.com/maps/embed?pb=...
