---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Routes from '../components/Routes.astro';
import About from '../components/About.astro';
import HowItWorks from '../components/HowItWorks.astro';
import QuoteSection from '../components/QuoteSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <Services />
    <Routes />
    <About />
    <HowItWorks />
    <QuoteSection />
  </main>
  <Footer />
</Layout>
